# APP configuration
APP_PORT=8080

# Database configuration
# DATABASE_HOST="127.0.0.1" # instance from local server
DATABASE_HOST="db" # instance from docker compose
DATABASE_PORT=3306
DATABASE_USERNAME="root"
DATABASE_PASSWORD="root"
DATABASE_NAME="db_boilerplate"

# Redis configuration
# REDIS_HOST="127.0.0.1" # instance from local server
REDIS_HOST="redis"  # instance from docker compose
REDIS_PORT=6379
REDIS_PASSWORD=""

# JWT configuration
JWT_ACCESS_SECRET_KEY=
JWT_REFRESH_SECRET_KEY=
JWT_ACCESS_EXPIRY_IN_SECOND=
JWT_REFRESH_EXPIRY_IN_SECOND=
JWT_PRIVATE_KEY_PATH_FILE=
JWT_PUBLIC_KEY_PATH_FILE=

# Adjust the following values according to your seeder configuration
ROLE_NAME_SEEDER=
USER_NAME_SEEDER=
USER_EMAIL_SEEDER=
USER_PASSWORD_SEEDER=